<%- include ('../partials/head') %> <%- include ('../partials/menu') %> <%-
include ('../partials/message') %>

<!DOCTYPE html>
<html lang="en">
<main>
    <div
        class="container d-flex flex-column justify-content-center align-items-center"
    >

    <h1><%= locals.group ? locals.group.id : "Unkown group" %></h1>
    <p><%= locals.group ? locals.group.about : "If you are seeing this message it means there is an error, please try again" %></p>
    <p>Owner: @<%= locals.group ? locals.group.username : "" %></p>
    <!-- MESSAGES -->
    <div class="d-flex flex-column w-100 align-items-start justify-items-start">
        <% for (let i = 0; i < locals.messages.length; i++) { %>
            <div class="mt-2 px-4 py-2 rounded lh-1 <%= locals.messages[i].username === locals.user.username ? "align-self-end" : "align-self-start" %>" style="background-color: <%= locals.messages[i].username === locals.user.username ? "#aeb9cc" : "#d8d8d8" %>">
                <div class="d-flex flex-row w-100 justify-content-between align-items-center " style="font-size:small;">
                    <p>@<%= locals.messages[i].username%></p>


                    <% if (locals.user.username === locals.messages[i].username || (locals.group.username === locals.user.username)) { %>
                        <form action="/groups/<%= locals.group.id %>/messages/delete" method="POST">
                            <input type="hidden" value="<%= locals.messages[i].id %>" name="messageId" id="messageId">
                            <button class="btn btn-sm  btn-outline-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">x</button>
                        </form>
                    <% } %>
                </div>


                <p><%= locals.messages[i].content%></p>
                <p style="font-size:small;" class="text-muted"><%= new Date(locals.messages[i].ts).toISOString() %></p>
            </div>
        <% } %>

        <form action="/groups/<%= locals.group.id %>/messages" method="POST" class="mt-5 w-50 align-self-center">
            <input name="content" id="content" class="form-control" placeholder="Say something" />
        </form>
    </div>



    </div>
</main>
<%- include ('../partials/footer') %>