<%- include ('../partials/head') %> <%- include ('../partials/menu') %> <%-
include ('../partials/message') %>
<script src="https://unpkg.com/@feathersjs/client@^5.0.0/dist/feathers.js"></script>
<script src="https://unpkg.com/socket.io-client@^4.0.0/dist/socket.io.js"></script>


<script>
    
    // GET THE LOCALS DATA
    const locals = <%- JSON.stringify(locals) %>;

    // const defaultMessage = {
    //     id: 2,
    //     content: "Wow what a place :)",
    //     username: "admin_of_admins",
    //     group_id: "Welcome",
    //     ts: "2023-12-06T00:48:15.152Z",
    // };
    const socket = io("http://localhost:3000");
    const app = feathers();
    app.configure(feathers.socketio(socket));
    app.configure(feathers.authentication());


    const apiPath = `api/messages/${locals.group.id}`

    // Add message to page
    async function renderMessage(message) {

        if (message.group_id !== locals.group.id) return
        const element = document.createElement("div");
        element.className = `mt-2 px-4 py-2 rounded lh-1 ${message.username === locals.user.username ? "align-self-end" : "align-self-start"}`
        element.style = `background-color: ${message.username === locals.user.username ? "#aeb9cc" : "#d8d8d8"}`
        element.id = `message-${message.id}`

        const deleteButton = `<button class="btn btn-sm  btn-outline-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" onclick="deleteMessage(${message.id})">x</button>`

        const messageHTML = `
            <div class="d-flex flex-row w-100 justify-content-between align-items-center " style="font-size:small;">
                <p>@${message.username}</p>
                ${locals.user.username === message.username || (locals.group.username === locals.user.username) ? deleteButton : ""}

          
                </div>


                <p>${message.content}</p>
                <p style="font-size:small;" class="text-muted">${new Date(message.ts).toISOString()}</p>
            `

        element.innerHTML = messageHTML
        document.querySelector("#messages").appendChild(element);
    }

    // Delete a message from page
    async function renderMessageDelete(message) {
        if (!message) return
        const element = document.querySelector(`#message-${message}`)
        element.remove()
    }

    // FETCH ALL MESSAGES & start listeners
    async function init() {
        const messages = await app.service(apiPath).find();
        await messages.forEach(async (message) => {
            await renderMessage(message)
        });
        await app.service("api/messages").on("created", renderMessage)
        await app.service("api/messages").on("removed", renderMessageDelete)

    }

    // Send a message
    async function sendMessage() {
        try {
            const e = document.querySelector("#createMessage");
            if (!e) throw new Error("Could not find #createMessage")
            await app.service(apiPath).create({
                message: e.value,
                username: locals.user.username
            });


            e.value = "";
        } catch (error) {
            console.log("Send message error", error);
        }
    }

    // DELETE A MESSAGE
    async function deleteMessage(id) {
        try {
            await app.service(apiPath).remove(id)
        } catch (error) {
            console.log("Delete message error", error);
            
        }
    }


    // onload call getMessages to get all messages, add them to html, and then add web socket listerners
    init()
</script>


<main>
    <div
        class="container d-flex flex-column justify-content-center align-items-center"
    >

    <h1><%= locals.group ? locals.group.id : "Unkown group" %></h1>
    <p><%= locals.group ? locals.group.about : "If you are seeing this message it means there is an error, please try again" %></p>
    <p>Owner: @<%= locals.group ? locals.group.username : "" %></p>
    <!-- MESSAGES -->
    <div class="d-flex flex-column w-100 align-items-start justify-items-start" id="messages">
  

 
    </div>

    <form onsubmit="sendMessage();return false" class="mt-5 align-self-center w-50">
        <input name="content"  class="form-control" placeholder="Say something" id="createMessage"/>
    </form>



    </div>
</main>
<%- include ('../partials/footer') %>